@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Poppins";
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select:none;
}

:root {
  --black_color: #000000;
  --white_color: #ffffff;
  --orange_color: #ff5100;
  /* --orange_color: #ff0000; */
  --black_hover_color: #242323;
  --orange_hover_color: #fa8500;
}





/* ----------  nav css ------------ */
header {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}
#nav {
  height: 90px;
  width: 100%;
  overflow: hidden;
  background-color: var(--white_color);
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* border: #000000 1px solid; */
}

/* ----------  nav logo css ------------ */

#nav img {
  padding-top: 2vh;
  height: 100%;
  width: 15vw;
}

#nav a {
  display: block;
  /* background-color: var(--orange_color); */
}

/* ----------  nav menu css ------------ */
.header__menu ul {
  display: flex;
  padding: 15px;
}

.header__menu ul li {
  padding: 11px 50px 11px 11px;
  list-style: none;
}

.header__menu a {
  color: var(--black_color);
  font-weight: 500;
  text-decoration: none;
}

.header__menu a:hover {
  color: var(--orange_color);
}

/* ------------ menu (3 bars) css for responsive ------------ */
/* .line {
    display: block;
  }
  
  .nav-toggle-btn .line {
    width: 26px;
    height: 3px;
    background-color: var(--black_color);
    transition: 0.25 ease;
  }
  
  .nav-toggle-btn .line:not(:last-child) {
    margin-block-end: 4px;
  }
  
  .nav-toggle-btn {
    background-color: #ffffff;
    border: 1px solid var(--black_color);
    border-radius: 4px;
    padding: 8px 5px;
    margin-inline-start: auto;
  }
  
  .nav-toggle-btn.active .line-1 {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .nav-toggle-btn.active .line-2 {
    opacity: 0;
  }
  
  .nav-toggle-btn.active .line-3 {
    transform: rotate(-45deg) translate(4px, -5px);
  }
  
  .nav-toggle-btn {
    display: none;
  } */



/* ///////////////////////// footer option 2 ///////////////////////// */

/* ------------- footer_section  ----------- */
#footer_section {
    /* border: 1px solid#ff5100; */
    /* height: 65vh; */
    width: 100%;
    padding: 100px 0px 45px 0px;
    background-color: var(--black_color);
    color: var(--white_color);
  }
  .footer_items {
    width: 91vw;
    margin-left: 7vw;
    margin-top: 20px;
  }
  .footer_box1 {
    /* border: 1px solid#ff5100; */
    height: 34.2vh;
    width: 85.9vw;
    display: flex;
  }
  .foot_box1_1 {
    /* border: 1px solid#ff5100; */
    height: 34.2vh;
    width: 19.5vw;
    color: var(--white_color);
    margin-right: 150px;
  }
  .foot_box1_1 ul li a {
    text-decoration: none;
    color: var(--white_color);
  }
  .foot_box1_1 ul li {
    list-style: none;
    margin-bottom: 22px;
  }
  .social_icons i {
    margin-left: 15px;
    margin-right: 15px;
    color: var(--white_color);
    font-size: 1.438rem;
  }
  
  .footer_box2{
    text-align: left;
    width: 75vw;
    /* border: 1px solid#ff5100; */
  }
  
  .footer_box2 img {
    height: 200px;
    width: 200px;
  }
  
  .footer_box2 p {
    color: var(--white_color);
    font-size: 0.75rem;
  }