@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Poppins";
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* user-select: none; */
}
*::selection {
  background-color: var(--redies_color);
  color: var(--black_color);
}

:root {
  --black_color: #000000;
  --white_color: #ffffff;
  --orange_color: #374785;
  --white_glow_color: #848181cf;
  --black_glow_color: #3d3c3c9b;
  /* --orange_color: #ff5500; */
  --black_hover_color: #242323;
  --orange_hover_color: #fa8500;

  --yellow_color: #f8e9a1;
  --redies_color: #f76c6c;
  --sky_blue: #a8d0e6;
  --blue_color: #374785;
}

/* ----------  nav-upper css ------------ */
#nav-upper {
  background-color: var(--orange_color);
  color: var(--white_color);
  font-size: 1.2rem;
  letter-spacing: 25px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: -100px; /* Start offscreen */
  left: 0;
  width: 100%;
  z-index: 10;
  animation: slideDown 1s ease forwards; /* Trigger animation */
}

/* Keyframes for the sliding effect */
@keyframes slideDown {
  from {
    top: -100px; /* Initial position (off-screen) */
  }
  to {
    top: 0; /* Final position */
  }
}

/* ----------  nav css ------------ */
header {
  margin-top: 50px; /* Add space for the animated company name */
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}
#nav {
  height: 90px;
  width: 100%;
  overflow: hidden;
  background-color: var(--white_color);
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* border: #000000 1px solid; */
}

/* ----------  nav logo css ------------ */

#nav img {
  padding-top: 1vh;
  padding-left: 2.5vw;
  height: 100%;
  width: 27%;
}

#nav a {
  display: block;
  /* background-color: var(--orange_color); */
}

/* ----------  nav menu css ------------ */
.header__menu ul {
  display: flex;
  padding: 15px;
}

.header__menu ul li {
  padding: 11px 50px 11px 11px;
  list-style: none;
}

.header__menu a {
  color: var(--black_color);
  font-weight: 500;
  text-decoration: none;
}

/* .header__menu a:hover {
  color: var(--orange_color);
} */

.navbar-link {
  width: max-content;
  position: relative;
}
.navbar-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: var(--orange_color);
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.navbar-link:hover::after {
  transform: scaleX(1);
}

/* ------------ menu (3 bars) css for responsive ------------ */
/* .line {
    display: block;
  }
  
  .nav-toggle-btn .line {
    width: 26px;
    height: 3px;
    background-color: var(--black_color);
    transition: 0.25 ease;
  }
  
  .nav-toggle-btn .line:not(:last-child) {
    margin-block-end: 4px;
  }
  
  .nav-toggle-btn {
    background-color: #ffffff;
    border: 1px solid var(--black_color);
    border-radius: 4px;
    padding: 8px 5px;
    margin-inline-start: auto;
  }
  
  .nav-toggle-btn.active .line-1 {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .nav-toggle-btn.active .line-2 {
    opacity: 0;
  }
  
  .nav-toggle-btn.active .line-3 {
    transform: rotate(-45deg) translate(4px, -5px);
  }
  
  .nav-toggle-btn {
    display: none;
  } */

/* ------------------------------------------------------------------------------------------------- */

/* ------------   hero_section css ------------ */
#hero_section {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 15px 0px 0px 0px; */
  /* border: #000000 1px solid; */
}

.hero_text_container {
  padding: 35px;
  height: 400px;
  width: 600px;
  /* border: #000000 1px solid; */
}

.hero_text_container .title {
  margin-top: 20px;
  color: var(--black_color);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  /* border: #da0f0f 1px solid; */
}

.hero_text_container .title span {
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 1s ease-in-out; /* Smooth transition for fading effect */
  color: var(--orange_color);
  /* border: #da0f0f 1px solid; */
}

.hero_text_container .description {
  margin-top: 10px;
  color: var(--black_color);
  font-size: 1rem;
  /* border: #c5d81a 1px solid; */
}

.hero_text_container .description span {
  color: var(--orange_color);
  /* border: #da0f0f 1px solid; */
}
.hero_img_container {
  background: rgb(255, 75, 30);
  background: radial-gradient(
    circle,
    var(--orange_color) 10%,
    rgba(255, 180, 162, 1) 24%,
    rgba(255, 213, 203, 1) 32%,
    rgba(255, 242, 239, 1) 39%,
    rgba(255, 255, 255, 1) 48%
  );
  /* border: #000000 1px solid; */
}
.hero_img_container img {
  height: auto;
  width: auto;
  /* border: #000000 1px solid; */
}

/* ------------  button_area css ------------ */
.button_area {
  margin-top: 15px;
}

.button {
  border-radius: 25px;
  background-color: var(--redies_color);
  border: none;
  color: var(--white_color);
  text-align: center;
  font-size: 1rem;
  padding: 10px 15px 10px 15px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--sky_blue);
  color: var(--blue_color);
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ------------------------------------------------------------------------------------------------- */

/* ------------   sepration section css ------------ */

#sepration {
  /* border: #eb0a0a 1px solid; */
  height: 150px;
  width: 100%;
  background: var(--black_color);
  background: linear-gradient(
    5deg,
    var(--yellow_color) 49%,
    var(--white_color) 50%
  );
}

/* ------------------------------------------------------------------------------------------------- */

/* ------------   Services section section css ------------ */
#Services_section {
  background: var(--yellow_color);
  color: var(--blue_color);
  /* background-color:aqua; */
  padding: 0px 60px 80px 60px;
}
.Services_text_container {
  line-height: 60px;
  width: 90%;
}
.Services_text_container h2 {
  font-size: 80px;
  font-weight: 600;
}
.Services_text_container p {
  font-size: 30px;
  color: var(--blue_color);
}
/* ---------------------Services_cards_container-------------------- */
.Services_cards_container {
  border: var(--blue_color) 1.5px solid;
  border-radius: 50px;
  margin-top: 70px;
  padding: 30px;

  font-size: 23px;
  background: transparent;

  display: flex;
  /* justify-content: space-around; */
}
.Services_card_img {
  margin-left: 10px;
  /* background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(136, 136, 136, 1) 20%,
    rgba(93, 93, 93, 1) 30%,
    rgba(0, 0, 0, 1) 50%
  ); */
  /* border: #fa8500 1px solid; */
}
.Services_card_img img {
  filter: drop-shadow(8px 7px 19px var(--white_glow_color));
  height: 100%;
  width: 100%;
}

.Services_card_text {
  width: 80%;
  align-content: center;
  padding: 50px;
  line-height: 25px;
  /* border: #fa8500 1px solid; */
}
.Services_card_text h3 {
  color: var(--orange_color);
  width: 100%;
  font-size: 40px;
  font-weight: 600;
}
.Services_card_text p {
  /* color: var(--white_color); */
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

/* ------------   sepration 2 section css ------------ */

#sepration_2 {
  /* border: #eb0a0a 1px solid; */
  height: 160px;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    var(--yellow_color) 49%,
    var(--white_color) 50%
  );
}

/* ------------   Contact Form section css ------------ */
#Contact_section {
  padding: 0px 20px 70px 20px;
  background-color: var(--white_color);
}
.Contact_items {
  display: flex;
  justify-content: space-evenly;
}

.Con_form_box2 label {
  width: 34vw;
  height: 7vh;
  font-size: 1rem;
  margin-bottom: 65px;
  margin-left: 10px;
}
.Con_form_box2 input {
  padding: 15px;
  min-width: 34vw;
  max-width: 34vw;
  height: 42px;
  border-radius: 30px;
  border: 1px var(--black_color) solid;
  margin-top: 10px;
  margin-bottom: 15px;
}
#Message_box {
  padding: 15px;
  min-width: 34vw;
  max-width: 34vw;
  min-height: 90px;
  border-radius: 30px;
  border: 1px var(--black_color) solid;
  margin-top: 10px;
  margin-bottom: 15px;
  overflow:hidden;
}

.Con_form_box2 input #Message_box ::placeholder {
  font-size: 1rem;
  color: rgb(199, 187, 187);
}

.Contact_text_container {
  /* border: #fa8500 1px solid; */
  text-align: right;
  line-height: 60px;
  width: 50%;
}
.Contact_text_container h2 {
  color: var(--orange_color);
  font-size: 80px;
  font-weight: 600;
}
.Contact_text_container p {
  margin-top: 25px;
  line-height: 30px;
  font-size: 20px;
  color: var(--black_color);
}


/* ///////////////////////// footer  ///////////////////////// */

/* ------------- footer_section  ----------- */
#footer_section {
  /* border: 1px solid#ff5100; */
  /* height: 65vh; */
  width: 100%;
  padding: 60px 0px 45px 0px;
  background-color: var(--blue_color);
  color: var(--white_color);
}
.footer_items {
  width: 91vw;
  margin-left: 7vw;
  margin-top: 20px;
}
.footer_box1 {
  /* border: 1px solid#ff5100; */
  height: 34.2vh;
  width: 85.9vw;
  display: flex;
}
.foot_box1_1 {
  /* border: 1px solid#ff5100; */
  height: 34.2vh;
  width: 100%;
  color: var(--white_color);
  margin-right: 100px;
}
.foot_box1_1 a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--white_color);
}
.foot_box1_1 ul li {
  list-style: none;
  margin-bottom: 22px;
}
.social_icons i {
  margin: 10px 25px 10px 0px;
  color: var(--white_color);
  font-size: 1.3rem;
}

.footer_box2 {
  /* justify-content: center; */
  text-align: left;
  width: 75vw;
  /* border: 1px solid#ff5100; */
}

.footer_box2 img {
  height: 200px;
  width: 200px;
}

.footer_box2 p {
  color: var(--white_color);
  font-size: 0.80rem;
}
